<div class = 'wrapper-Nick'>

  <div class = 'container-Nick'>
    <img id="tick-Nick" src="https://res.cloudinary.com/deruwllkv/image/upload/v1542141008/ijsgysweef7iiagibbbm.svg" alt="confirmation tick">


    <p><strong>Booking confirmed</strong></p>

    <p class='green-Nick' >Boat name:</p>
    <p class='black-Nick'><%= @booking.boat.name %></p>

    <p class='green-Nick' >Start date:</p>
    <p class='black-Nick'><%= @booking.start_date.change({ hour: 9, min: 0}) %></p>

    <p class='green-Nick' >End date:</p>
    <p class='black-Nick'><%= @booking.end_date.change({ hour: 17, min: 0}) %></p>

    <p class='green-Nick' >Total price (USD):</p>
    <p class='black-Nick'><%= (@booking.end_date.day - @booking.start_date.day).to_i*@booking.boat.price %></p>

    <!-- <p><%= link_to "Back to home", root_path %></p> -->
    <a class="btn btn-primary" href= <%= boat_path(@booking.boat) %> >See boat details</a>
    <!-- <a class="btn btn-primary" href= <%= root_path %> >Back to home</a> -->
  </div>
</div>


<!-- change({ hour: 0, min: 0, sec: 0 }) -->



