<div class="wrapper">

  <div class="container">
    <h2>Profile</h2>
    <div>
      <!-- <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan"> -->
      <% if @user.photo.present? %>
        <img class="avatar-large" src=<%= cl_image_path @user.photo %>>
      <% else %>
        <img class="avatar-large" src=<%= image_path 'profile.png' %>>
      <% end %>

      <div>
        <p>First name: <%= @user.first_name %></p>
        <p>Last name:  <%= @user.last_name %></p>
        <p>Email: <%= @user.email %></p>
      </div>
    </div>
  </div>

<% if @bookings.length > 0 %>
  <div class="container">
    <h2>My bookings</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Booking #</th>
          <th scope="col">Boat name</th>
          <th scope="col">Picture</th>
          <th scope="col">Owner name</th>
          <th scope="col">Owner email</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col">Total price (USD)</th>
          <th scope="col">Status</th>
          <th scope="col">Cancel booking</th>
        </tr>
      </thead>
       <tbody>
         <% @bookings.each_with_index do |booking, index| %>
           <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= booking.boat.name %></td>
            <td><img class="avatar-square" src=<%= cl_image_path booking.boat.photo%> alt="Boat image"></td>
            <td><%= booking.boat.user.first_name %> <%= booking.boat.user.last_name %></td>
            <td><%= booking.boat.user.email %></td>
            <td><%= booking.start_date.change({ hour: 9, min: 0}) %></td>
            <td><%= booking.end_date.change({ hour: 17, min: 0}) %></td>
            <td><%= (booking.end_date.day - booking.start_date.day).to_i*booking.boat.price %></td>
            <td>Confirmed</td>
            <td><%= link_to "Cancel booking", booking_path(booking),
            method: :delete,
            data: { confirm: "Are you sure?" } %></td>
          </tr>
         <% end %>
       </tbody>
    </table>
  </div>
  <% end  %>

  <% counterNick = 0 %>

<% if @owned_boats.length > 0 %>

  <% @owned_boats.each do |boat| %>
   <% if boat.bookings.length > 0 %>
   <% counterNick += 1 %>
  <% end %>
  <% end %>

<% end %>

<% if @owned_boats.length > 0 && counterNick == 0%>
<p>There no bookings for the boats that you own.</p>

<% end %>

  <% if counterNick > 0 %>
  <div class="container">
    <h2>Bookings of my boats</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Booking #</th>
          <th scope="col">Boat name</th>
          <th scope="col">Picture</th>
          <th scope="col">Renter name</th>
          <th scope="col">Renter email</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col">Total price (USD)</th>
          <th scope="col">Status</th>
          <th scope="col">Cancel booking</th>
        </tr>
      </thead>
       <tbody>
         <% @owned_boats.each do |boat| %>
         <% if boat.bookings.length > 0 %>
         <% boat.bookings.each_with_index do |booking, index| %>
           <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= booking.boat.name %></td>
            <td><img class="avatar-square" src=<%= cl_image_path booking.boat.photo%> alt="Boat image"></td>
            <td><%= booking.user.first_name %> <%= booking.user.last_name %></td>
            <td><%= booking.user.email %></td>
            <td><%= booking.start_date.change({ hour: 9, min: 0}) %></td>
            <td><%= booking.end_date.change({ hour: 17, min: 0}) %></td>
            <td><%= (booking.end_date.day - booking.start_date.day).to_i*booking.boat.price %></td>
            <td>Confirmed</td>
            <td><%= link_to "Cancel booking", booking_path(booking),
            method: :delete,
            data: { confirm: "Are you sure?" } %></td>
          </tr>
         <% end %>
         <% end %>
         <% end %>
       </tbody>
    </table>
  </div>
  <% end  %>






</div>

