
<div class="navbar">
  <header>
    <%= link_to root_path do %>
    <img class="menu" src='<%= image_path 'boat (1).png' %>' />
    <h2 class="menu"><b>Le</b>Bateau</h2>
    <% end %>
    <nav class="menu">

      <span class="menu2"><%= link_to "Log In/Signup", new_user_session_path %></span>
      <span class="menu2"><%= link_to "Upload a boat", new_boat_path %></span>

    </nav>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src='<%= image_path 'menu.png' %>' class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Dashboard</a></li>

          <li><%= link_to "Upload a boat", new_boat_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>

  <nav class="mobile">
    <a href="#"><img src="https://s3.us-east-2.amazonaws.com/ajpics/codecademy+capstone/ic-login.svg" alt="Log-In"></a>
  </nav>

</header>
</div>
