<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->

  <div class="carousel-inner">

    <div class="item active">
      <img src='<%= image_path 'cloudboatcopy.jpg' %>'>
      <div class="carousel-caption">
       <h1>Rent a boat, ¡Easy & Safely !</h1>
       <h2>Your best choice in Buenos Aires!</h2>
     </div>
   </div>

   <div class="item">
    <img src='<%= image_path 'lastcanoe.jpg' %>'>
    <div class="carousel-caption">
     <h1> More than 1,000 boats to rent at the best price </h1>
   </div>
 </div>


 <div class="item">
  <img src='<%= image_path 'Aoceanboats.jpg' %>'>
  <div class="carousel-caption">
   <h2>Have a Happy cruising!</h2>
 </div>
</div>
</div>

<!-- Left and right controls -->
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
  <span class="sr-only">Next</span>
</a>
</div>

<!-- Banner -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,0,0,0.6) 60%), url('<%= image_path 'bestallstackboatpictures.jpg'%>');">

  <!-- Banner content -->
  <div id="banner-content">
    <div>
      <p>Search for your favourite boat!</p>
    </div>
    <div>
      <form class="form-inline" action="/action_page.php">
        <div class="form-group">
          <select class="form-control" id="sel1">
            <option>Yacht</option>
            <option>Launch</option>
            <option>Sailboat</option>
            <option>Canoe</option>
          </select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>


</div>
</div>
</div>

<div class="section">
  <span> <h3> <strong>O</strong>ur <strong>b</strong>oats </h3></span>
</div>

<!-- cards -->
<div class="container" id="bubble-container">
  <div class="bubble">
    <a href="">
      <img src='<%= image_path 'boat (1).png' %>'/>
    </a>
  </div>
</div>

<div class= "container" id="boat-index">
  <div class="row">
    <% @boats.each do |boat| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= link_to boat_path(boat) do %>
      <% if boat.photo.present? %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path boat.photo %>');">

        <% else %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_tag("pyyi0a6yphaudutusmcr")%>');">
          <% end %>

          <div class="card-category"></div>
          <div class="card-description">
            <h2><%= boat.name %></h2>
            <p><%= boat.boat_type %></p>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<!-- live chat -->

<div id="live-chat" class="live-chat-transition">

  <div id="chat-label" class="live-chat-transition">

    <h4 class="live-chat-galaxie live-chat-transition">

      Live Chat

      <img src="https://fgl.scene7.com/is/image/FGLSportsLtd/live-chat-up-arrow-icon?wid=15&fmt=png-alpha&op_sharpen=1&resMode=sharp2" alt="live-chat-up-arrow" class="live-chat-arrow live-chat-transition live-chat-up-arrow" />

      <img src="https://fgl.scene7.com/is/image/FGLSportsLtd/live-chat-down-arrow-icon?wid=15&fmt=png-alpha&resMode=sharp2" alt="live-chat-down-arrow" class="live-chat-arrow live-chat-transition live-chat-down-arrow" />

    </h4>

  </div>

  <p><strong>Need help?</strong><br>Connect with our LeBateau staff and have your questions answered!</p>

  <a href="#" id="chat-button" class="live-chat-galaxie">Chat Now</a>

</div>


<!-- MAIN CONTAINER -->
<div>
  <!-- OWNER BOATS -->
  <div>
    <!-- CARDS -->
    <!-- FIRST CARD -->
    <div>
      <i></i>
      <p></p>
    </div>
    <!-- SECOND CARD -->
    <div>
      <i></i>
      <p></p>
    </div>
    <!-- THIRD CARD -->
    <div>
      <i></i>
      <p></p>
    </div>
  </div>
  <!-- LESSEE -->
  <div>
    <!-- CARDS -->
    <!-- FIRST CARD -->
    <div>
      <i></i>
      <p></p>
    </div>
    <!-- SECOND CARD -->
    <div>
      <i></i>
      <p></p>
    </div>
    <!-- THIRD CARD -->
    <div>
      <i></i>
      <p></p>
    </div>
  </div>
</div>






<!-- grid -->

<div class="container">

  <div class="grid">
    <div class="col-6-12 key-block">
      <ul>
        <h4 class="child-to-show">Lessee </h4>
        <li class="icon-tool-magnifier"><span></span>
        See all ads through the search engine. Find a boat or a sailboat for rent at the best price. Enjoy our insurance included to rent and sail safely.</li>
        <li class="icon-com-bubble-line"><span></span>
        Contact the owners of the boats for free and ask them about issues related to the boat: availability, equipment, etc. through the built-in messaging service..</li>
        <li class="icon-interface-circle-tick-a"><span class="ico"></span>
        Book directly online with total security and rent the boat or sailboat of your dreams in just a few clicks. Only the charge will be made in case the owner of the boat accepts your rental request. 100% secure payment. LeBateau; Boat It's your trusted intermediary.</li>
      </ul>
    </div>

    <div class="col-6-12 key-block">
      <ul>
        <h4 class="child-to-show">Boat Owner</h4>
        <li class='<%= image_path 'boat (1).png' %>'><span class="ico"></span>
        Create an ad for free to rent your boat. Sailboats, inflatable boats, catamarans, all are welcome at LeBateau; Boat!</li>
        <li class="icon-location-avenue"><span class="ico"></span>
        Rent your boat, when you want and at the price you want. LeBateau; Boat helps you to make your boat profitable by allowing you to cover maintenance and usage expenses.</li>
        <li class="icon-user-lock"><span class="ico"></span>
        Optional full-risk insurance of up to eight million euros of coverage and secure payment platform for the deposit. Entrust us the rental of your sailboat, motor boat or catamaran.</li>
      </ul>
    </div>
    <div class="clear"></div>
    <div>

    </div>
  </div>
</div>


<!-- footer
<%= render "pages/footer" %>
-->

