<!-- Banner -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,0,0,0.6) 60%), url('<%= image_path 'boat.jpg' %>');">

  <div class="col-1-1">
    <div class="row">
      <div class="banner-content">
        <h1>Rent a boat, ¡Easy & Safe!</h1>
        <h2>Your best choice!</h2>

      </div>
    </div>
  </div>
</div>

<!-- Nick testing -->

<div class="container">
  <div class="row">
  <div class="row">
    <% @boats.each do |boat| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path('paperboat.jpg') %> );">
          <div class="card-description">
            <h2><%= "#{boat.name}" %></h2>
          </div>
          <a class="btn btn-primary btn-lg" href= <%= boat_path(boat) %> >Recipe</a>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>


<!-- cards -->
<span> <h3> Our boats </h3></span>

<div class= "container" style="background-image: url("");">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'yacht.jpg' %>');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2> Bob's Yacht</h2>
          <p>Very cool ride, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'sail-boat.jpg' %>');">
        <div class="card-category"></div>
        <div class="card-description">
          <h2>Arnold's Sailboat</h2>
          <p>Very cool ride, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large">
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'launch2.jpg' %>');">
        <div class="card-category"></div>
        <div class="card-description">
          <h2>Patricia's Launch</h2>
          <p>Very cool ride, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/ClaraMorgen">
        <a class="card-link" href="#" ></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'canoes2.jpg' %>');">
        <div class="card-category"></div>
        <div class="card-description">
          <h2>Elvis Canoes</h2>
          <p>Very cool ride, the best</p>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/krokrob' class="avatar-bordered">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
