<% title @boat.name %>

<div class="showimage" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.2) 50%), url('<%= cl_image_path @boat.photo %>');">
  <div class="show-content">
    <h1> <%= @boat.name %> </h1>

    <%= link_to 'Book now', new_boat_booking_path(@boat), class: "btn btn-primary btn-lg" %>
  </div>
</div>




<section class="description">
  <ul>
    <h2>Rental Information</h2>
  </ul>
  <div class="flex">
    <div class="flex-column">
        <!-- <div class='video'>
          <video src="" autoplay loop></video> -->
        </div>

        <ul>
          <h3><strong>Description</strong></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis nulla mollitia beatae voluptates tempora aliquam iste eius porro odio magni, ea, itaque quam ipsam esse error provident laudantium, deleniti nam!!</p>
        </ul>


        <ul>
          <div class="info"><span class="_1m8bb6v"><strong>Boat name:  </strong></span><%= @boat.name %></div>

          <div class="info"><span class="_1m8bb6v"><strong>Type:  </strong></span><%= @boat.boat_type %></div>

          <div class="info"><span class="_1m8bb6v"><strong>Size:  </strong></span><%= @boat.size %></div>

          <div class="info"><span class="_1m8bb6v"><strong>Price:  </strong></span><%= @boat.price %></div>

          <div class="info"><span class="_1m8bb6v"><strong>Capacity:  </strong></span><%= @boat.capacity %></div>
        </ul>
      </div>
    </div>
  </div>



  </div>


